.layers{
    display: inline;
    margin: 1px;
    padding: 0;
    color: #fff;
    font-size: 1.14em;
    font-weight: 700;
    text-decoration: none;
    text-align: center;
    height: 1.375em;
    width: 5.375em;
    line-height: .4em;
    background-color: rgba(0, 60, 136, .5);
    border: none;
    border-radius: 2px
}
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

/* Dropdown button on hover & focus */
.dropbtn:hover, .dropbtn:focus {
    background-color: #3e8e41;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
}

/* Links inside the dropdown 
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
*/
/* Change color of dropdown links on hover 
.dropdown-content a:hover {
	background-color: rgba(0, 191, 255, 0.3);
	padding: 1px;
    border: 1px solid white;
	width: 150px;
	height: 200px;

}*/

/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}

/* pattern and popup functions */

		#select
		{	box-shadow:1px 1px 3px #000;
			background:#fff;
			margin-left:0.5em;
			display:inline-block;
			width:50px;
			height:40px;
		}
		label
		{	width:7em;
			text-align:right;
			display: inline-block;
		}
		input[type=number]
		{	width:4em;
		}
		#pselect
		{	max-width:300px;
			position: absolute;
			box-shadow:1px 1px 3px #000;
			background:#fff;
		}
		#pselect > div
		{	float: left;
			width: 50px;
			height: 40px;
			background-color: #fff;
			border:2px solid #000;
			box-sizing: border-box;
		}
		#pselect > div:hover
		{	border-color: red;
		}
/* Popup (background) */
.Popup {
    display: none; /* Hidden by default */
	position: relative; /* Stay in place */
	overflow: auto; /* Enable scroll if needed */
    padding-bottom: 0px; /* Location of the box */
	padding-left:0px;
	float:right;
    bottom:160px;
	right:15px;
    width: 220px; /* Full width */
    height: 150px; /* Full height */
    
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Popup-content*/
.Popup-content {
    background-color: #fefefe;
    margin: auto;
    padding: px;
    border: 1px solid #888;
    width: 80%;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}
.Help{
	background-color: #5D7CCF;
    border-color: white;
    color: white;
    text-align: center;
	font-weight: bold;
    text-decoration: none;
    font-size: 19px;
    margin: 4px 2px;
    cursor: pointer;
	position:relative;
	float: right;
	
   
}
a {
    color: #5874BF;
    text-decoration: none;
}
a:hover {
    color: #112763;
}
